UNSPLASH_API_KEY=your_key
PEXELS_API_KEY=your_key
PIXABAY_API_KEY=your_key
FREEPIK_API_KEY=your_key
POSTGRES_URL=postgresql+asyncpg://user:password@postgres:5432/unsplash
TYPESENSE_HOST=typesense
TYPESENSE_PORT=8108
TYPESENSE_API_KEY=xyz
REDIS_URL=redis://redis:6379/0